.chatList{
    flex: 1;
    overflow: scroll;
    .search{
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 20px;
    }

    .searchbar{
        flex: 1;
        background-color: rgba(17, 25, 40, 0.5);
        display: flex;
        align-items: center;
        gap: 20px;
        border-radius: 10px;
        padding: 12px;
    }

    input{
        background-color: transparent;
        color: aliceblue;
        flex: 1;
        border: none;
        outline: none;
    }

    .searchbar img{
        width: 20px;
        height: 20px;
        object-fit: cover;
    }

    .add{
        width: 35px;
        height: 35px;
        background-color: rgba(17, 25, 40, 0.5);
        border-radius: 10px;
        cursor: pointer;
        padding: 12px;
    }

    .item{
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 20px;
        border-bottom: 1px solid grey;

    }

    .item img{
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
        cursor: pointer;
    }

    .texts{
        display: flex;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;

    }
    .texts span{
        font-weight: 600px;
    }

    .texts p{
        font-size: 14px;
        color: rgb(200, 200, 200);
    }
}